container_commands:
  01_migrate:
    command: "python3 manage.py migrate"
    leader_only: true
  02_createsuperuser:
    command: "echo from accounts.models import Account; Account.objects.create_superuser('sai', 'chandan', 'main.com', 'main', 'main') | python manage.py shell"
    leader_only: true

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: djangoProject.settings
